/************************************************************
PADDING
************************************************************/

$paddings: 7 !default;

.#{$prefix}padding {

  &\:auto {
    padding: auto !important;
  }
  @while $paddings >= 0 {
    &\:u#{$paddings * 2} {
      padding: var(--u#{$paddings * 2}) !important;
    }
    $paddings: $paddings - 1;
  }
  @each $key, $value in $screens {
    &\@#{$key} {
      @media (min-width: $value) {
        &\:auto {
          padding: auto !important;
        }
        @while $paddings >= 0 {
          &\:u#{$paddings * 2} {
            padding: var(--u#{$paddings * 2}) !important;
          }
          $paddings: $paddings - 1;
        }
      }
    }
  }

  &-top {
    &\:auto {
      padding-top: auto !important;
    }
    @while $paddings >= 0 {
      &\:u#{$paddings * 2} {
        padding-top: var(--u#{$paddings * 2}) !important;
      }
      $paddings: $paddings - 1;
    }
    @while $paddings >= 0 {
      &\:#{$paddings + 5}vh {
        padding-top: #{$paddings + 5}vh !important;
      }
      $paddings: $paddings - 1;
    }
    @each $key, $value in $screens {
      &\@#{$key} {
        @media (min-width: $value) {
          &\:auto {
            padding-top: auto !important;
          }
          @while $paddings >= 0 {
            &\:u#{$paddings * 2} {
              padding-top: var(--u#{$paddings * 2}) !important;
            }
            $paddings: $paddings - 1;
          }
          @while $paddings >= 0 {
            &\:#{$paddings + 5}vh {
              padding-top: #{$paddings + 5}vh !important;
            }
            $paddings: $paddings - 1;
          }
        }
      }
    }
  }

  &-right {
    &\:auto {
      padding-right: auto !important;
    }

    @while $paddings >= 0 {
      &\:u#{$paddings * 2} {
        padding-right: var(--u#{$paddings * 2}) !important;
      }
      $paddings: $paddings - 1;
    }
    @each $key, $value in $screens {
      &\@#{$key} {
        @media (min-width: $value) {
          &\:auto {
            padding-right: auto !important;
          }
          @while $paddings >= 0 {
            &\:u#{$paddings * 2} {
              padding-right: var(--u#{$paddings * 2}) !important;
            }
            $paddings: $paddings - 1;
          }
        }
      }
    }
  }

  &-bottom {
    &\:auto {
      padding-bottom: auto !important;
    }
    @while $paddings >= 0 {
      &\:u#{$paddings * 2} {
        padding-bottom: var(--u#{$paddings * 2}) !important;
      }
      $paddings: $paddings - 1;
    }
    @while $paddings >= 0 {
      &\:#{$paddings + 5}vh {
        padding-bottom: #{$paddings + 5}vh !important;
      }
      $paddings: $paddings - 1;
    }
    @each $key, $value in $screens {
      &\@#{$key} {
        @media (min-width: $value) {
          &\:none {
            padding-bottom: 0 !important;
          }
          &\:auto {
            padding-bottom: auto !important;
          }
          @while $paddings >= 0 {
            &\:u#{$paddings * 2} {
              padding-bottom: var(--u#{$paddings * 2}) !important;
            }
            $paddings: $paddings - 1;
          }
          @while $paddings >= 0 {
            &\:#{$paddings + 5}vh {
              padding-bottom: #{$paddings + 5}vh !important;
            }
            $paddings: $paddings - 1;
          }
        }
      }
    }
  }

  &-left {
    &\:auto {
      padding-left: auto !important;
    }
    @while $paddings >= 0 {
      &\:u#{$paddings * 2} {
        padding-left: var(--u#{$paddings * 2}) !important;
      }
      $paddings: $paddings - 1;
    }
    @each $key, $value in $screens {
      &\@#{$key} {
        @media (min-width: $value) {
          &\:auto {
            padding-left: auto !important;
          }
          @while $paddings >= 0 {
            &\:u#{$paddings * 2} {
              padding-left: var(--u#{$paddings * 2}) !important;
            }
            $paddings: $paddings - 1;
          }
        }
      }
    }
  }

  &-x {
    &\:auto {
      padding-left: auto !important;
      padding-right: auto !important;
    }
    @while $paddings >= 0 {
      &\:u#{$paddings * 2} {
        padding-left: var(--u#{$paddings * 2}) !important;
        padding-right: var(--u#{$paddings * 2}) !important;
      }
      $paddings: $paddings - 1;
    }
    @each $key, $value in $screens {
      &\@#{$key} {
        @media (min-width: $value) {
          &\:auto {
            padding-left: auto !important;
            padding-right: auto !important;
          }
          @while $paddings >= 0 {
            &\:u#{$paddings * 2} {
              padding-left: var(--u#{$paddings * 2}) !important;
              padding-right: var(--u#{$paddings * 2}) !important;
            }
            $paddings: $paddings - 1;
          }
        }
      }
    }
  }

  &-y {
    &\:auto {
      padding-top: auto !important;
      padding-bottom: auto !important;
    }
    @while $paddings >= 0 {
      &\:u#{$paddings * 2} {
        padding-top: var(--u#{$paddings * 2}) !important;
        padding-bottom: var(--u#{$paddings * 2}) !important;
      }
      $paddings: $paddings - 1;
    }
    @while $paddings >= 0 {
      &\:#{$paddings + 5}vh {
        padding-top: #{$paddings + 5}vh !important;
        padding-bottom: #{$paddings + 5}vh !important;
      }
      $paddings: $paddings - 1;
    }
    @each $key, $value in $screens {
      &\@#{$key} {
        @media (min-width: $value) {
          &\:auto {
            padding-top: auto !important;
            padding-bottom: auto !important;
          }
          @while $paddings >= 0 {
            &\:u#{$paddings * 2} {
              padding-top: var(--u#{$paddings * 2}) !important;
              padding-bottom: var(--u#{$paddings * 2}) !important;
            }
            $paddings: $paddings - 1;
          }
          @while $paddings >= 0 {
            &\:#{$paddings + 5}vh {
              padding-top: #{$paddings + 5}vh !important;
              padding-bottom: #{$paddings + 5}vh !important;
            }
            $paddings: $paddings - 1;
          }
        }
      }
    }
  }
}
