{{ partial "head" . }}
{{ partial "partial/menus/menu-slide" . }}

<div class="background:white js-header">
  {{ partial "partial/header" . }}
</div>

<section class="background:primary">
  <div class="wrap wrap:padding-x padding-y:10vh display:flex align:flex-center">
    <div class="row align-content:center margin:auto padding-y:5vh">
      <div class="column:12 column-sm:9">
        <h4 class="font font-weight:bold font-size:h6 font-size-sm:h4 font-leading:2 color:white margin-bottom:2 js-reveal-set-1">
          Our Mission
        </h4>
        <h1 class="font font-size:h3 font-size-md:h2 font-size-lg:h1 margin-bottom:2 font-leading:0 color:white js-reveal-set-1">
          “{{ .Params.quote }}”
        </h1>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="column:12 column-sm:6">
      <img src="/assets/images/about/about-bg-1.png" class="image image:fluid" />
    </div>

    <div class="column:12 column-sm:6">
      <img src="/assets/images/about/about-bg-2.png" class="image image:fluid" />
    </div>
  </div>
</section>

<section class="background:white padding-y:10vh ">
  <div class="wrap wrap:padding-x">
    <div class="row row-gutter-sm:5">
      <div class="column:12 column-sm:6">
        <h5 class="font font-size:h6 font-size-sm:h5 margin-bottom:3 font-leading:0">
          {{ .Params.column_1_title }}
        </h5>
        {{ .Params.column_1_paragraph | markdownify }}
      </div>

      <div class="column:12 column-sm:6">
        <h5 class="font font-size:h6 font-size-sm:h5 margin-bottom:3 font-leading:0">
          {{ .Params.column_2_title }}
        </h5>
        {{ .Params.column_2_paragraph | markdownify }}
      </div>
    </div>
  </div>
</section>


<section class="background:background padding-y:10vh ">
  <div class="wrap wrap:padding-x">
    <h3 class="font font-size:h3 font-size-sm:h1 margin-bottom:2vh font-leading:0 align:center">
      Our Core <span class="font color:primary font:underline">Values</span>
    </h3>

    <div class="tab tab:about-values margin-bottom:2">
      <div class="tab/header">
        <a href="#about-values-1" class="tab/item is-active">
          Strive for simple and elegant solutions
        </a>
        <a href="#about-values-2" class="tab/item">
          Respect your peers
        </a>
        <a href="#about-values-3" class="tab/item">
          Speak up and listen when others do
        </a>
        <a href="#about-values-4" class="tab/item">
          Trust and be trustworthy
        </a>
      </div>
      <div class="tab/content">
        <div id="about-values-1" class="tab/item is-active">
          <article class="card">
            <div class="card/content padding-sm:4">
              <h4 class="font -gap-2 margin-bottom:3">Strive for simple and elegant solutions</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae dui quis tellus tincidunt tempor sed sit amet eros. Phasellus in ipsum eu leo dignissim feugiat vitae vitae nunc. Pellentesque dignissim nibh sed arcu scelerisque dignissim eget rhoncus orci. Pellentesque finibus imperdiet mi, ac volutpat neque suscipit ac.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae dui quis tellus tincidunt tempor sed sit amet eros. Phasellus in ipsum eu leo dignissim feugiat vitae vitae nunc. Pellentesque dignissim nibh sed arcu scelerisque dignissim eget rhoncus orci. Pellentesque finibus imperdiet mi, ac volutpat neque suscipit ac.
              </p>
            </div>
          </article>
        </div>
        <div id="about-values-2" class="tab/item">
          <article class="card">
            <div class="card/content padding-sm:4">
              <h4 class="font -gap-2 margin-bottom:3">Respect your peers</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae dui quis tellus tincidunt tempor sed sit amet eros. Phasellus in ipsum eu leo dignissim feugiat vitae vitae nunc. Pellentesque dignissim nibh sed arcu scelerisque dignissim eget rhoncus orci. Pellentesque finibus imperdiet mi, ac volutpat neque suscipit ac.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae dui quis tellus tincidunt tempor sed sit amet eros. Phasellus in ipsum eu leo dignissim feugiat vitae vitae nunc. Pellentesque dignissim nibh sed arcu scelerisque dignissim eget rhoncus orci. Pellentesque finibus imperdiet mi, ac volutpat neque suscipit ac.
              </p>
            </div>
          </article>
        </div>
        <div id="about-values-3" class="tab/item">
          <article class="card">
            <div class="card/content padding-sm:4">
              <h4 class="font -gap-2 margin-bottom:3">Speak up and listen to others</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae dui quis tellus tincidunt tempor sed sit amet eros. Phasellus in ipsum eu leo dignissim feugiat vitae vitae nunc. Pellentesque dignissim nibh sed arcu scelerisque dignissim eget rhoncus orci. Pellentesque finibus imperdiet mi, ac volutpat neque suscipit ac.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae dui quis tellus tincidunt tempor sed sit amet eros. Phasellus in ipsum eu leo dignissim feugiat vitae vitae nunc. Pellentesque dignissim nibh sed arcu scelerisque dignissim eget rhoncus orci. Pellentesque finibus imperdiet mi, ac volutpat neque suscipit ac.
              </p>
            </div>
          </article>
        </div>
        <div id="about-values-4" class="tab/item">
          <article class="card">
            <div class="card/content padding-sm:4">
              <h4 class="font -gap-2 margin-bottom:3">Trust and be trustworthy</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae dui quis tellus tincidunt tempor sed sit amet eros. Phasellus in ipsum eu leo dignissim feugiat vitae vitae nunc. Pellentesque dignissim nibh sed arcu scelerisque dignissim eget rhoncus orci. Pellentesque finibus imperdiet mi, ac volutpat neque suscipit ac.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae dui quis tellus tincidunt tempor sed sit amet eros. Phasellus in ipsum eu leo dignissim feugiat vitae vitae nunc. Pellentesque dignissim nibh sed arcu scelerisque dignissim eget rhoncus orci. Pellentesque finibus imperdiet mi, ac volutpat neque suscipit ac.
              </p>
            </div>
          </article>
        </div>
      </div>
    </div>

  </div>
</section>


<section class="background:white padding-y:10vh ">
  <div class="wrap wrap:padding-x">
    <h3 class="font font-size:h3 font-size-sm:h1 margin-bottom:5vh font-leading:0 align:center">
      Our <span class="font color:primary font:underline">Team</span>
    </h3>

    <div class="grid:1 grid-sm:3 grid-md:4 grid-lg:5 grid-gutter:2">

      {{ range .Params.blocks }}
        {{ if eq "block-about-profile" .template }}
          <div class="grid/item border:radius background:white align:center padding:2">
            <img src="{{ .image }}" class="image image:fluid" />
            <h6 class="font margin-top:2">{{ .name }}</h6>
            <p>
              {{ .position }}
            </p>
          </div>
        {{ end }}
      {{ end }}

    </div>
  </div>
</section>


{{.Content}}


<section class="padding-y:5vh padding-y-sm:10vh background:primary">
  <div class="wrap wrap:padding-x padding-bottom:2vh align:center">
    <h1 class="font font-size:h3 font-size-sm:h1 margin-bottom:2 font-leading:0 color:white">
      Interested in working at <span class="font color:yellow font:underline">Fergus?</span>
    </h1>
    <h2 class="font font-weight:regular font-size:h6 font-size-sm:h5 font-leading:1 margin-bottom:4 color:white">
      Join us as we streamline success for thousands of trade <br />and service businesses around the world.
    </h2>
    <a href="#" class="button background:yellow color:secondary button:elevate button-grow:2">View job openings</a>
  </div>
</section>

{{ partial "partial/modals/modal-register"}}
{{ partial "partial/footer" . }}
{{ partial "foot" . }}
