{{ partial "head" . }}
{{ partial "partial/header" . }}
{{ partial "partial/menus/menu-slide" . }}

{{.Content}}

<section class="padding-y:5vh padding-y-sm:10vh background:primary">
  <div class="wrap wrap:padding-x padding-bottom:2vh align:center">
    <h1 class="font font-size:h3 font-size-sm:h1 margin-bottom:2 font-leading:0 color:white">
      Interested in working at <span class="font color:yellow font:underline">Fergus?</span>
    </h1>
    <h2 class="font font-weight:regular font-size:h6 font-size-sm:h5 font-leading:1 margin-bottom:4 color:white">
      Join us as we streamline success for thousands of trade <br />and service businesses around the world.
    </h2>
    <a href="#" class="button background:yellow color:secondary button:elevate button-grow:2">View job openings</a>
  </div>
</section>

{{ partial "partial/modals/modal-register"}}
{{ partial "partial/footer" . }}
{{ partial "foot" . }}
