{{ if eq .Params.Author "Katherine" }}
  <div class="row:media row-gutter:2 align-item:middle align-content:center align:left">
    <div class="column">
      <img src="{{ .Site.BaseURL }}/en/uploads/katherine.jpg" class="image image:profile image-shape:round image-size:4" />
    </div>
    <div class="column">
      <h5 class="font font-size:body font-weight:bold color:black">
        {{ .Params.Author }}
      </h5>
      <p class="color:black">
        Content Producer
      </p>
    </div>
  </div>
{{end}}
