<section class="row">
  <div id="js-map" class="column:12 column-md:6 padding-y:10vh" style="min-height:60vh;">

  </div>
  <div class="column:12 column-md:6 padding:2 padding:4 padding-sm:10 fill:background-focus">
    <h3 class="font font-weight:regular font-leading:1 margin-bottom:10vh">
      Get in Touch
    </h3>

    <span class="line line:short margin-bottom:5vh"></span>

    <h5 class="font font-leading:2 font-weight:regular  margin-bottom:3">
      4423 Boundary Road<br>
      Vancouver, BC  V5R 2N3
    </h5>

    <h5 class="font font-leading:2 font-weight:regular margin-bottom:5vh">
      <a href="#" class="color:primary">jonathan@mlnotary.com</a><br>
 +61 029 0503
</h5>

    <p class="font-size:tiny max-width:60">
      We prepare the documents that are necessary to transfer the property and register the mortgage that secures your loan.
    </p>
  </div>
</section>
