<section class="row">
  <div id="js-map" class="column:12 column-md:6 padding-y:10vh" style="min-height:60vh;">

  </div>
  <div class="column:12 column-md:6 padding:2 padding:4 padding-sm:10 fill:background-focus">
    <h3 class="font font-weight:regular font-leading:1 margin-bottom:10vh">
      Get in Touch
    </h3>

    <span class="line line:short margin-bottom:5vh"></span>

    <h5 class="font font-leading:2 font-weight:regular  margin-bottom:3">
      509 SW Marine Drive<br>
      Vancouver, BC V6P 0G8
    </h5>

    <h5 class="font font-leading:2 font-weight:regular margin-bottom:5vh">
      <a href="mailto:jwong@mlnotary.com" class="color:primary">jwong@mlnotary.com</a><br>T (604) 687 6166, F (604)687 8002
    </h5>

    <p class="font-size:tiny max-width:60">
      We prepare the documents that are necessary to transfer the property and register the mortgage that secures your loan.
    </p>
  </div>
</section>
