<article class="card margin-bottom:2">
  <div class="card/content">
    <h3 class="font color:secondary margin-bottom:3">Essential</h3>
    <p>
      <b class="color:black">Ideal for</b> Plasterers, painters, concrete layers, roofers and small construction firms. Manage your team with the noticeboard, timesheet and payroll integrations and take payments on the go.
    </p>
    <a href="#" class="button button:fluid background:secondary color:yellow margin-bottom:3">Start free trial</a>

    <h6 class="font font:body font-size:body font-size-sm:h6 font-weight:medium margin-bottom:1">Timesheet</h6>
    <div class="display:flex margin-bottom:2 align-content:between padding-bottom:2 border:bottom">
      <div class="column">
        <h3 class="font color:secondary">$10</h3>
        <p class="font font-size:micro font-transform:upper font-weight:medium opacity:8 color:background-active margin-bottom:none ">
          Monthly per user
        </p>
      </div>
      <div class="column display:flex align-content:right">
        <div class="row:media row-gutter:1 align-item:middle">
          <div class="column">
            <input type="number" class="js-essential-qty js-essential-sheet" value="1" style="width:4rem; padding: 0; text-align: center;" />
          </div>
          <div class="column">
            Users
          </div>
        </div>
      </div>
    </div>


    <h6 class="font font:body font-size:body font-size-sm:h6 font-weight:medium margin-bottom:1">Tradesperson</h6>
    <div class="display:flex margin-bottom:2 align-content:between padding-bottom:2 border:bottom">
      <div class="column">
        <h3 class="font color:secondary">$30</h3>
        <p class="font font-size:micro font-transform:upper font-weight:medium opacity:8 color:background-active margin-bottom:none">
          Monthly per user
        </p>
      </div>
      <div class="column display:flex align-content:right">
        <div class="row:media row-gutter:1 align-item:middle">
          <div class="column">
            <input type="number" class="js-essential-qty js-essential-trade" value="1" style="width:4rem; padding: 0; text-align: center;" />
          </div>
          <div class="column">
            Users
          </div>
        </div>
      </div>
    </div>


    <h6 class="font font:body font-size:body font-size-sm:h6 font-weight:medium margin-bottom:1">Full User</h6>
    <div class="display:flex align-content:between">
      <div class="column">
        <h3 class="font color:secondary">$40</h3>
        <p class="font font-size:micro font-transform:upper font-weight:medium opacity:8 color:background-active margin-bottom:none">
          Monthly per user
        </p>
      </div>
      <div class="column display:flex align-content:right">
        <div class="row:media row-gutter:1 align-item:middle">
          <div class="column">
            <input type="number" class="js-essential-qty js-essential-full" value="1" style="width:4rem; padding: 0; text-align: center;" />
          </div>
          <div class="column">
            Users
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end card/content -->

  <div class="card/content align:center font-weight:medium">
    Total Monthly Cost <span class="display:block padding-y:1 font font-leading:0 font-size:h2 font-weight:bold color:secondary js-essential-total">$80</span>

    <a href="#" class="display:block font-size:tiny margin-top:1 color:secondary js-modal-feature-comparison-trigger">View Feature Comparison</a>
  </div>
  <!-- end card/content -->
</article>
