{{ partial "head" . }}
{{ partial "partial/menus/menu-slide" . }}
<div class="background:white js-header">
  {{ partial "partial/header" . }}
</div>

<section class="background:black background:hero-andrew-01">

  <div class="wrap wrap:padding-x padding-y:10vh align:center">
    <h1 class="font font-size:h3 font-size-md:h2 font-size-lg:h1 margin-bottom:2 font-leading:0 align:center color:white">
      {{ .Params.hero_title | safeHTML }}
    </h1>
    <h2 class="font font-weight:regular font-size:h6 font-size-sm:h5 font-leading:2 align:center color:white margin-bottom:3">
      {{ .Params.hero_subtitle | safeHTML }}
    </h2>
    <a class="button color:yellow button-grow:2 js-modal-feature-checklist-trigger">Get your feature checklist</a>
  </div>

</section>

<section class="background:black">
  <div class="wrap wrap:padding-x">
    <nav class="row align:center">
      <a href="{{ .Site.BaseURL }}/features" class="column:3 padding-y:3 font-leading:1 color:white font-weight:medium font-size:body font-size-sm:body hover-color:yellow {{ if eq "Features" .Title }}feature-tab:is-active{{end}}">Feature overview</a>
      <a href="{{ .Site.BaseURL }}/features/run-your-office" class="column:3 padding-y:3 font-leading:1 color:white font-weight:medium font-size:body font-size-sm:body hover-color:yellow {{ if eq "Run your office" .Title }}feature-tab:is-active{{end}}">Run your office</a>
      <a href="{{ .Site.BaseURL }}/features/manage-your-team" class="column:3 padding-y:3 font-leading:1 color:white font-weight:medium font-size:body font-size-sm:body hover-color:yellow {{ if eq "Manage your team" .Title }}feature-tab:is-active{{end}}">Manage your team</a>
      <a href="{{ .Site.BaseURL }}/features/grow-your-business" class="column:3 padding-y:3 font-leading:1 color:white font-weight:medium font-size:body font-size-sm:body hover-color:yellow {{ if eq "Grow your business" .Title }}feature-tab:is-active{{end}}">Grow your business</a>
    </nav>
  </div>
</section>

<section class="background:background padding-y:10vh ">
  <div class="wrap wrap:padding-x">
    <div class="row">
      <div class="column:1/3 display:none display-sm:block">
        <ul class="list list-gutter:1 js-stickr">
          <li class="list/item">
            <a href="#track-manage" class="color:black font-weight:medium hover-color:primary">
              Track and manage your jobs
            </a>
          </li>
          <li class="list/item">
            <a href="#team-management" class="color:black font-weight:medium hover-color:primary">
              Team management
            </a>
          </li>
          <li class="list/item">
            <a href="#quoting" class="color:black font-weight:medium hover-color:primary">
              Quoting
            </a>
          </li>
          <li class="list/item">
            <a href="#scheduling" class="color:black font-weight:medium hover-color:primary">
              Scheduling
            </a>
          </li>
          <li class="list/item">
            <a href="#on-the-job" class="color:black font-weight:medium hover-color:primary">
              On the job
            </a>
          </li>
          <li class="list/item">
            <a href="#invoicing" class="color:black font-weight:medium hover-color:primary">
              Invoicing
            </a>
          </li>
          <li class="list/item">
            <a href="#reporting" class="color:black font-weight:medium hover-color:primary">
              Reporting
            </a>
          </li>
          <li class="list/item">
            <a href="#accounting" class="color:black font-weight:medium hover-color:primary">
              Accounting
            </a>
          </li>
          <li class="list/item">
            <a href="#integrations" class="color:black font-weight:medium hover-color:primary">
              Integrations
            </a>
          </li>
        </ul>
      </div>

      <div class="column:3/3 column-sm:2/3">
        {{ range .Params.blocks }}
          {{ if eq "block-feature-card" .template }}
            <article id="{{ .id }}" class="card margin-bottom:5">
              <div class="card/content padding-sm:4">
                <div class="row:media row-gutter:2 align-item:middle margin-bottom:3">
                  <div class="column">
                    <img src="{{ $.Site.BaseURL }}/assets/images/icons/icon-{{ .icon }}.svg" class="image image-shape:square image-size:3 image-size-sm:4" />
                  </div>
                  <div class="column">
                    <h3 class="font font-size:h5 font-size-sm:h3 font-leading:0">{{ .title }}</h3>
                  </div>
                </div>
                <h6 class="font font-weight:regular margin-bottom:4">
                  {{ .description }}
                </h6>
                <a href="{{ .Site.BaseURL }}/{{ .card_url }}" class="font font-weight:medium font:link">Find out more <i class="fas fa-arrow-right fa-sm margin-left:0"></i></a>
                <div class="row row-gutter:2 margin-top:4">
                  {{ range .blocks }}
                    <div class="column:12 column-sm:6 margin-bottom:2">
                      <div class="border:radius background:background-focus padding:2 padding-sm:3">
                        <h6 class="font margin-bottom:2">
                          {{ .title }}
                        </h6>
                        <p>
                          {{ .description }}
                        </p>
                      </div>
                    </div>
                  {{ end }}
                </div>
              </div>
            </article>
          {{ end }}
        {{ end }}

      </div>
    </div>
  </div>
</section>

{{ partial "partial/modals/modal-register"}}
{{ partial "partial/modals/modal-feature-checklist"}}
{{ partial "partial/cta" . }}
{{ partial "partial/footer" . }}
{{ partial "foot" . }}
