{{ partial "head" . }}
{{ partial "partial/menus/menu-slide" . }}
<div class="background:white js-header">
  {{ partial "partial/header" . }}
</div>

<section class="background:black background:hero-andrew-01">

  <div class="wrap wrap:padding-x padding-y:10vh align:center">
    <h1 class="font font-size:h3 font-size-md:h2 font-size-lg:h1 margin-bottom:2 font-leading:0 align:center color:white">
      {{ .Params.hero_title | safeHTML }}
    </h1>
    <h2 class="font font-weight:regular font-size:h6 font-size-sm:h5 font-leading:2 align:center color:white">
      {{ .Params.hero_subtitle | safeHTML }}
    </h2>
  </div>

</section>

<section class="padding-y:5vh">

  <div class="wrap wrap:padding-x">
    <div class="row align-content:center">
      <div class="column:12 column-md:7">
        <article class="card">
          <div class="card/content padding-sm:5">
            {{.Content}}
          </div>
        </article>
      </div>
    </div>
  </div>

</section>
{{ partial "partial/modals/modal-register"}}
{{ partial "partial/footer" . }}
{{ partial "foot" . }}
