<section class="position:relative padding-top:10vh background:primary-shade">
  <div class="wrap wrap:padding-x position:static">

    <h3 class="font font-size:h3 font-size-sm:h1 margin-bottom:2 font-leading:0 align:center color:white">
      Real people. Here to <span class="font color:yellow font:underline">help</span>
    </h3>

    <h4 class="font font-weight:regular font-size:h6 font-size-sm:h5 font-leading:2 align:center margin-bottom:5vh color:white">
      Setting up software shouldn't be hard, we make it a walk in the park.
    </h4>

    <div class="row row:home-footer-help row row-gutter-sm:2 row-gutter-lg:3 position:static">
      <div class="column:12 column-sm:4 item-md:4 margin-bottom:2">
        <article class="card">
          <div class="card/content padding-sm:4 align:center">
            <img src="{{ .Site.BaseURL }}/assets/images/icons/icon-support.svg" class="image margin:auto margin-bottom:3" />
            <h5 class="font margin-bottom:3">Free live support</h5>
            <p>
              If you are struggling with something, <br>just give us a call.
            </p>
            <a href="mailto:support@fergus.com" class="font font:link font-weight:bold">Get in touch</a>
          </div>
        </article>
      </div>

      <div class="column:12 column-sm:4 item-md:4 margin-bottom:2">
        <article class="card">
          <div class="card/content padding-sm:4 align:center">
            <img src="{{ .Site.BaseURL }}/assets/images/icons/icon-data.svg" class="image margin:auto margin-bottom:3" />
            <h5 class="font margin-bottom:3">Lifetime data access</h5>
            <p>
              Your data is protected and <br>owned by you, we just store it.
            </p>
            <a href="mailto:support@fergus.com" class="font font:link font-weight:bold">Learn more</a>
          </div>
        </article>
      </div>

      <div class="column:12 column-sm:4 item-md:4 margin-bottom:2">
        <article class="card">
          <div class="card/content padding-sm:4 align:center">
            <img src="{{ .Site.BaseURL }}/assets/images/icons/icon-training.svg" class="image margin:auto margin-bottom:3" />
            <h5 class="font margin-bottom:3">Free training</h5>
            <p>
              We have dedicated staff to help <br>you and your team upskill.
            </p>
            <a href="mailto:support@fergus.com" class="font font:link font-weight:bold">Get Support</a>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="padding-y:5vh padding-y-sm:5vh background:primary">
  <div class="wrap wrap:padding-x padding-bottom:2vh align:center">
    <h1 class="font font-size:h3 font-size-sm:h1 margin-bottom:2 font-leading:0 color:white">
      Job management <br />software built to <span class="font color:yellow font:underline">trade </span>
    </h1>
    <h2 class="font font-weight:regular font-size:h6 font-size-sm:h5 font-leading:2 margin-bottom:4 color:white">
      All the tools you need. All in one place
    </h2>
    <a href="#" class="button background:yellow color:secondary button:elevate button-grow:2">Start free trial</a>
    <a href="#" class="button background:secondary color:yellow button:elevate button-grow:1">Book a demo</a>
  </div>
</section>
