{{ partial "head" . }}
{{ partial "partial/menus/menu-slide" . }}

{{.Content}}


<section class="hero fill:white">
  {{ partial "partial/header" . }}
    <div class="hero/content">
      <h1 class="font font-weight:regular font-weight-sm:light font-size:h4 font-size-sm:h2 font-size-md:h1 font-size-lg:h1 font-leading:2 margin-bottom:3">
        Marine Landing Notary Public, provides Notary Public Services emphasizing excellent customer services, as efficiently as possible.
      </h1>
    </div>

    <div class="hero/footer">
      <span class="line line:short margin-bottom:5vh"></span>
      <a href="tel:+610290503" class="font font-size:h4 font-weight:regular color:black margin-bottom:2 display:block">
        +61 029 0503
      </a>
      <p class="font-size:tiny">
        We prepare the documents that are necessary to transfer the property and register the mortgage that secures your loan.
      </p>
    </div>

  </div>
</section>

<section>
  <div class="row fill:white">
    <div class="column:12 column-md:3 padding-y:10vh fill-size:cover fill-position:center-center" style="background-image:url('https://placeimg.com/800/500/tech');">

    </div>
    <div class="column:12 column-md:6 padding-y:10vh fill:primary">
      <div class="margin:auto max-width:60 align:center padding-y:5vh">
        <span class="line line:short margin-bottom:5vh fill:white margin:auto"></span>
        <h3 class="font font-size:h4 font-size-sm:h3 font-weight:light font-leading:2 color:white margin-bottom:4">
          Marine Landing Notary Public, provides Notary Public Services emphasizing excellent customer services, as efficiently as possible.
        </h3>

        <p class="color:white">
          Jonathan Wong<br>
          <span class="opacity:6">Director, Marine Landing</span>
        </p>
      </div>
    </div>
    <div class="column:12 column-md:3 padding-y:10vh fill-size:cover fill-position:center-center" style="background-image:url('https://placeimg.com/800/500/tech');">

    </div>
  </div>
</section>

<section class="row fill:white">
  <div class="column:12 column-md:3 padding:2 padding-md:7 padding-y:5vh">
    <h4 class="font font-weight:regular font-leading:1 margin-bottom:3">
      Our Services
    </h4>
    <p class="font-size:tiny">
      We prepare the documents that are necessary to transfer the property and register the mortgage that secures your loan.
    </p>
    <a href="/services" class="font-size:tiny color:black font-weight:bold">Learn more</a>
  </div>
  <div class="column:12 column-md:3 padding-y:10vh fill-size:cover fill-position:center-center" style="background-image:url('https://placeimg.com/800/500/tech');">

  </div>
  <div class="column:12 column-md:3 padding:2 padding-md:7 padding-y:5vh">
    <h4 class="font font-weight:regular font-leading:1 margin-bottom:3">
      Our Location
    </h4>
    <p class="font-size:tiny">
      We prepare the documents that are necessary to transfer the property and register the mortgage that secures your loan.
    </p>
    <a href="/services" class="font-size:tiny color:black font-weight:bold">Learn more</a>
  </div>
  <div class="column:12 column-md:3 padding-y:10vh fill-size:cover fill-position:center-center" style="background-image:url('https://placeimg.com/800/500/tech');">

  </div>
</section>

{{ partial "partial/cta" . }}
{{ partial "partial/footer" . }}
{{ partial "foot" . }}
