<!doctype html>
<html>
  <head>
    <link rel="canonical" href="{{ .Permalink }}" />

    <title>{{ with .Page.Title }}{{ . }} – {{ end }}{{ .Site.Data.meta.title }}</title>
    <!-- Page Meta -->
    <meta charset="utf-8" />
    <meta name="description" content="{{ default .Site.Data.meta.description .Page.Params.description }}" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />

    <!-- Social Media Open Graph -->
    <meta property="og:title" content="{{ default .Site.Data.meta.title .Page.Title }}" />
    <meta property="og:site_name" content="{{ .Site.Data.meta.title }}" />
    <meta property="og:description" content="{{ default .Site.Data.meta.description .Page.Params.description }}" />
    <meta property="og:image" content="{{ absURL "/assets/images/office-02.jpg" }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- Icons -->
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" sizes="180x180" href="/iPhone-6-Plus.png" />

    <!-- Styles -->
    {{ with resources.Get "css/main.css" -}}
      <link rel="stylesheet" type="text/css" href="{{ .RelPermalink }}" />
    {{- end }}

    <!-- Scripts -->
    {{ with resources.Get "js/main.js" -}}
      <script src="{{ .RelPermalink }}" defer></script>
    {{- end }}
  </head>
  <body>
    <a id="skip-link" href="#main">Skip to main content</a>
    {{ partial "header" . }}
    <main id="main">
      {{ block "main" . }}
      {{ end }}
    </main>
    {{ partial "slidemenu" . }}
    {{ partial "footer" . }}
  </body>
</html>
