{{ define "main" }}
  {{ if not (len (findRE `<h1.*?>` .Content 1)) }}
    <h1 class="visually-hidden">{{ .Params.title }}</h1>
  {{ end }}

  <section class="row fill:white">
    <div class="column:12 column@sm:6 padding:u8 padding@sm:u10 padding-y@sm:u12">
      <p class="font-weight:light font-leading:1 font-size:h3 font-size@sm:h2 max-width:prose margin:auto text-wrap:balance">
        {{ .Params.headline }}
      </p>
      <span class="line line:short margin-top:u8"></span>
      {{ with resources.Get "images/northwest-building.jpg" }}
        {{ $i296 := .Resize "296x" }}
        {{ $i400 := .Resize "400x" }}
        {{ $i560 := .Resize "560x" }}
        {{ $i592 := .Resize "592x" }}
        {{ $i800 := .Resize "800x" }}
        {{ $i1120 := .Resize "1120x" }}
        <figure class="margin-top:u8 margin-x:auto" style="max-width: 560px">
          <img
            src="{{ $i296.RelPermalink }}"
            width="{{ .Width }}"
            height="{{ .Height }}"
            alt="A modern building constructed of glass and concrete. It has two towers: a smaller one on the left and a larger one on the right, which are connected by a low-rise section with a rooftop garden. The building is at the corner of two major roads."
            sizes="(min-width: 1332px) 560px, (min-width: 768px) 40vw, (min-width: 640px) 560px, 79vw"
            srcset="
              {{ $i296.RelPermalink }} {{ $i296.Width }}w,
              {{ $i400.RelPermalink }} {{ $i400.Width }}w,
              {{ $i560.RelPermalink }} {{ $i560.Width }}w,
              {{ $i592.RelPermalink }} {{ $i592.Width }}w,
              {{ $i800.RelPermalink }} {{ $i800.Width }}w,
              {{ $i1120.RelPermalink }} {{ $i1120.Width }}w,
            "
          >
          <figcaption>Our premises are in the “Northwest” building, at the corner of SW Marine Drive and Cambie Street.</figcaption>
        </figure>
      {{ end }}
    </div>
    <div class="column:12 column@sm:6 padding:u8 padding@sm:u10 padding-y@sm:u12 font-size:h6">
      <div class="row margin-bottom:10">
        <div class="column:12 column@sm:8">
          <div class="markup">
            {{ .Content }}
            <h2>Opening hours</h2>
          </div>
          <ul class="list">
            {{ partial "hours" . }}
          </ul>
        </div>
      </div>
    </div>
  </section>

  {{ partial "map" . }}

  <nav class="two-links fill:white" aria-label="Other pages">
    <article class="two-links__text two-links__1 padding:u8 padding@md:u10">
      <div>
        <h2 class="font-size:h4 font-weight:regular font-leading:1 margin-bottom:u4">Our services</h2>
        <p class="font-size:body max-width:prose margin-bottom:u8">
          {{ .Params.service_text }}
        </p>
        <a
          href="/services/"
          class="font-size:body color:black font-weight:bold"
        >
          Learn more
        </a>
      </div>
    </article>
    <div
      class="two-links__image two-links__1 padding-y:u12 fill-size:cover fill-position:center-center"
      style="
        background-image: url('https://images.unsplash.com/photo-1489844097929-c8d5b91c456e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=98b1cd2ea86a7b4796275ef13aadafbf&auto=format&fit=crop&w=800&q=60');
        background-position: bottom center !important;
      "
    ></div>
    <article class="two-links__text two-links__2 padding:u8 padding@md:u10">
      <div>
        <h2 class="font-size:h4 font-weight:regular font-leading:1 margin-bottom:u4">
          About us
        </h2>
        <p class="font-size:body max-width:prose margin-bottom:u8">
          {{ .Params.about_text }}
        </p>
        <a
          href="/about/"
          class="font-size:body color:black font-weight:bold"
        >
          Learn more
        </a>
      </div>
    </article>
    <div
      class="two-links__image two-links__2 padding-y:u12 fill-size:cover fill-position:center-center"
      style="
        background-image: url('https://images.unsplash.com/photo-1520931674431-de5b4b2cc562?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cf892a06a8141d8d0823c4b4c6cce613&auto=format&fit=crop&w=800&q=60');
      "
    ></div>
  </nav>
{{ end }}
