{{ define "main" }}
  <section class="row fill:white">
    <div class="column:12 padding-y:6vh hero:services" style="background-image: url('{{ with resources.Get "images/office-04.jpg" }}{{ .RelPermalink }}{{ end }}')">
      <div class="wrap">
        <div class="margin:auto align:center padding-x:3 padding-y:5vh position:relative">
          <p class="color:white margin-bottom:3">Our services</p>

          <p class="max-width:prose margin:auto text-wrap:balance font-weight:light font-leading:1 font-size:h3 font-size@sm:h2 color:white margin-bottom:u10">
            At Marine Landing Notary Public, we emphasize a personable client relationship, while maintaining the highest integrity of services performed.
          </p>
          <span class="line line:short fill:white margin:auto"></span>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="wrap max-width:100% overflow:hidden padding-left:u0 padding-right:u0">
      <div class="tab-position:left tab:reset tab:services row">
        <div class="tab/header column:12 column@sm:4 fill:grey-l5 padding:u8 padding@sm:u10 padding@md:u12">
          {{ $page := .Page }}
          {{ range site.Menus.services }}
            <a href="{{ .URL }}" class="tab/item font-size:h4 {{ if $page.IsMenuCurrent .Menu . }}is-active{{ end }}">{{ .Name }}</a>
          {{ end }}
        </div>

        <div class="column:12 column@sm:8 fill:white padding:u8 padding@sm:u10 padding@md:u12">
          <div class="tab/item">
            <article class="max-width:prose markup">
              {{ .Content }}
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
