<div class="js-modal-feature-comparison max-width:70" style="width:100%; max-width: 400px;">
  <table class="table table:fluid table:stack">
  <thead>
    <tr>
      <th>

      </th>
      <th class="font-weight:bold font-size:micro font-transform:upper color:primary align:center padding-y:3" style="width:20%">
        Basic
      </th>
      <th class="font-weight:bold font-size:micro font-transform:upper color:secondary align:center padding-y:3" style="width:20%">
        Essentials
      </th>
      <th class="font-weight:bold font-size:micro font-transform:upper color:green align:center padding-y:3" style="width:20%">
        Professional
      </th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td colspan="4" class="font-weight:bold font-size:body background:background-focus">
        Job Management
      </td>
    </tr>
    <tr>
      <td>
        Timesheets
      </td>
      <td data-label="Basic" class="color:primary">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
      <td data-label="Essential" class="color:secondary">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
      <td data-label="Professional" class="color:green">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
    </tr>
    <tr>
      <td>
        Calendar
      </td>
      <td data-label="Basic" class="color:primary">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
      <td data-label="Essential" class="color:secondary">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
      <td data-label="Professional" class="color:green">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
    </tr>
    <tr>
      <td>
        GPS Tracking
      </td>
      <td data-label="Basic" class="color:primary">

      </td>
      <td data-label="Essential" class="color:secondary">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
      <td data-label="Professional" class="color:green">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
    </tr>
    <tr>
      <td>
        Materials
      </td>
      <td data-label="Basic" class="color:primary">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
      <td data-label="Essential" class="color:secondary">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
      <td data-label="Professional" class="color:green">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
    </tr>
    <tr>
      <td>
        Quoting & Estimating
      </td>
      <td data-label="Basic" class="color:primary">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
      <td data-label="Essential" class="color:secondary">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
      <td data-label="Professional" class="color:green">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
    </tr>
    <tr>
      <td>
        Supplier Integrations
      </td>
      <td data-label="Basic" class="color:primary">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
      <td data-label="Essential" class="color:secondary">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
      <td data-label="Professional" class="color:green">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
    </tr>
    <tr>
      <td>
        Recurring Events
      </td>
      <td data-label="Basic" class="color:primary">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
      <td data-label="Essential" class="color:secondary">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
      <td data-label="Professional" class="color:green">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
    </tr>
    <tr>
      <td colspan="4" class="font-weight:bold font-size:body background:background-focus">
        Communications
      </td>
    </tr>
    <tr>
      <td>
        Files & Photos
      </td>
      <td data-label="Basic" class="color:primary">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
      <td data-label="Essential" class="color:secondary">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
      <td data-label="Professional" class="color:green">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
    </tr>
    <tr>
      <td>
        Notes & Conversations
      </td>
      <td data-label="Basic" class="color:primary">

      </td>
      <td data-label="Essential" class="color:secondary">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
      <td data-label="Professional" class="color:green">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
    </tr>
    <tr>
      <td>
        Notice Board
      </td>
      <td data-label="Basic" class="color:primary">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
      <td data-label="Essential" class="color:secondary">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
      <td data-label="Professional" class="color:green">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
    </tr>
    <tr>
      <td>
        Tasks
      </td>
      <td data-label="Basic" class="color:primary">

      </td>
      <td data-label="Essential" class="color:secondary">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
      <td data-label="Professional" class="color:green">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
    </tr>
    <tr>
      <td colspan="4" class="font-weight:bold font-size:body background:background-focus">
        Cashflow
      </td>
    </tr>
    <tr>
      <td>
        Payments
      </td>
      <td data-label="Basic" class="color:primary">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
      <td data-label="Essential" class="color:secondary">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
      <td data-label="Professional" class="color:green">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
    </tr>
    <tr>
      <td>
        Tiered Pricing
      </td>
      <td data-label="Basic" class="color:primary">

      </td>
      <td data-label="Essential" class="color:secondary">

      </td>
      <td data-label="Professional" class="color:green">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
    </tr>
    <tr>
      <td>
        Purchase Orders
      </td>
      <td data-label="Basic" class="color:primary">

      </td>
      <td data-label="Essential" class="color:secondary">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
      <td data-label="Professional" class="color:green">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
    </tr>
    <tr>
      <td>
        Invoicing
      </td>
      <td data-label="Basic" class="color:primary">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
      <td data-label="Essential" class="color:secondary">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
      <td data-label="Professional" class="color:green">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
    </tr>
    <tr>
      <td>
        Payroll Integration
      </td>
      <td data-label="Basic" class="color:primary">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
      <td data-label="Essential" class="color:secondary">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
      <td data-label="Professional" class="color:green">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
    </tr>
    <tr>
      <td colspan="4" class="font-weight:bold font-size:body background:background-focus">
        Compliance
      </td>
    </tr>
    <tr>
      <td>
        Certification
      </td>
      <td data-label="Basic" class="color:primary">

      </td>
      <td data-label="Essential" class="color:secondary">

      </td>
      <td data-label="Professional" class="color:green">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
    </tr>
    <tr>
      <td>
        Health & Safety
      </td>
      <td data-label="Basic" class="color:primary">

      </td>
      <td data-label="Essential" class="color:secondary">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
      <td data-label="Professional" class="color:green">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
    </tr>
    <tr>
      <td colspan="4" class="font-weight:bold font-size:body background:background-focus">
        Compliance
      </td>
    </tr>
    <tr>
      <td>
        Job Reporting
      </td>
      <td data-label="Basic" class="color:primary">

      </td>
      <td data-label="Essential" class="color:secondary">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
      <td data-label="Professional" class="color:green">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
    </tr>
    <tr>
      <td>
        Business Reporting
      </td>
      <td data-label="Basic" class="color:primary">

      </td>
      <td data-label="Essential" class="color:secondary">

      </td>
      <td data-label="Professional" class="color:green">
        <i class="fas fa-check-circle color:green align:right align-sm:center display:block"></i>
      </td>
    </tr>

  </tbody>


</table>
</div>
