<a class="font margin-left-sm:2 display:block margin-top:3 align:center hover hover-color:black js-view-basic-comparison">View feature comparison</a>

<div class="card/content background:black border:radius-bottom padding-top:4 js-basic-comparison" style="display:none">
  <div class="display-sm:flex align-item:middle align-content:between margin-bottom:2">
    <div class="column margin-bottom:2 margin-bottom-sm:none">
      <h6 class="font font:body font-size:body font-size-sm:h6 font-weight:medium color:white">Compare Features</h6>
    </div>
    <div class="column margin-bottom:4 margin-bottom-sm:none">
      <ul class="list list:inline list-gutter:3">
        <li class="list/item">
          <a class="color:white hover hover-color:white js-basic-option js-basic-option-time">Timesheet Only</a>
        </li>
        <li class="list/item">
          <a class="color:white hover hover-color:white opacity:6 js-basic-option js-basic-option-trade">Tradesperson</a>
        </li>
        <li class="list/item">
          <a class="color:white hover hover-color:white opacity:6 js-basic-option js-basic-option-full">Full User</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="column:12">
      <ul class="grid:feature-comparison js-basic-feature-list">
        <li class="grid/item is-active js-feature-basic js-feature-trade js-feature-full">
          <i class="fas fa-check-circle"></i> Noticeboard
        </li>
        <li class="grid/item is-active js-feature-basic js-feature-trade js-feature-full">
          <i class="fas fa-check-circle"></i> Dashboard
        </li>
        <li class="grid/item is-active js-feature-basic js-feature-trade js-feature-full">
          <i class="fas fa-check-circle"></i> Timesheet
        </li>
        <li class="grid/item is-active js-feature-basic js-feature-trade js-feature-full">
          <i class="fas fa-check-circle"></i> Payroll Integration
        </li>
        <li class="grid/item is-active js-feature-basic js-feature-trade js-feature-full">
          <i class="fas fa-check-circle"></i> Calendar
        </li>
        <li class="grid/item is-active js-feature-basic js-feature-trade js-feature-full">
          <i class="fas fa-check-circle"></i> Materials
        </li>
        <li class="grid/item js-feature-trade js-feature-full">
          <i class="fas fa-check-circle"></i> Quoting & Estimating
        </li>
        <li class="grid/item js-feature-trade js-feature-full">
          <i class="fas fa-check-circle"></i> Supplier Integrations
        </li>
        <li class="grid/item js-feature-trade js-feature-full">
          <i class="fas fa-check-circle"></i> Recurring Events
        </li>
        <li class="grid/item js-feature-trade js-feature-full">
          <i class="fas fa-check-circle"></i> Payments
        </li>
        <li class="grid/item js-feature-full">
          <i class="fas fa-check-circle"></i> Files & Photos
        </li>
        <li class="grid/item js-feature-full">
          <i class="fas fa-check-circle"></i> Invoicing
        </li>
        <li class="grid/item js-feature-full">
          <i class="fas fa-check-circle"></i> GPS Tracking
        </li>
        <li class="grid/item js-feature-full">
          <i class="fas fa-check-circle"></i> Health & Safety
        </li>
        <li class="grid/item js-feature-full">
          <i class="fas fa-check-circle"></i> Purchase Orders
        </li>
        <li class="grid/item js-feature-full">
          <i class="fas fa-check-circle"></i> Notes & History
        </li>
        <li class="grid/item js-feature-full">
          <i class="fas fa-check-circle"></i> Tasks
        </li>
        <li class="grid/item js-feature-full">
          <i class="fas fa-check-circle"></i> Job Reporting
        </li>
        <li class="grid/item js-feature-full">
          <i class="fas fa-check-circle"></i> Tiered Pricing
        </li>
        <li class="grid/item js-feature-full">
          <i class="fas fa-check-circle"></i> Certification
        </li>
        <li class="grid/item js-feature-full">
          <i class="fas fa-check-circle"></i> Business Reporting
        </li>
      </ul>
    </div>
  </div>
</div>
