/************************************************************
MEDIA
************************************************************/

.#{$prefix}media {
  display: flex;
  width: auto;
  max-width: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;

  /******************************
  SIZE
  ******************************/

  &-size {
    @each $size, $i in $sizes {
      &\:#{$size} {
        width: $i * 0.76 + 1rem;
        height: $i * 0.76 + 1rem;
      }
    }
    @each $screen, $size in $screens {
      &\@#{$screen} {
        @media (min-width : #{$size}) {
          @each $size, $i in $sizes {
            &\:#{$size} {
              width: $i * 0.76 + 1rem;
              height: $i * 0.76 + 1rem;
            }
          }
        }
      }
    }
  }
}
