{{ partial "head" . }}
{{ partial "partial/menus/menu-slide" . }}

{{.Content}}

{{ partial "partial/header" . }}

<section class="row fill:white padding-y:10vh padding-y-sm:none">
  <div class="column:12 column-sm:6 padding:3 padding-sm:10 padding-y-sm:10vh">
    <h2 class="font font-weight:light font-leading:1 font-size:h3 font-size-sm:h2 margin-bottom:5 max-width:70 margin:auto">
      Solved complex area-apportionment calculations for shared service agreements between office, hotel, and retails.
    </h2>
  </div>
  <div class="column:12 column-sm:6 padding:3 padding-sm:10 padding-y-sm:10vh font-size:h6">
    <div class="max-width:90">
      <p>
        The process followed when buying a property is called a conveyance. What happens is the ownership of title to the property is conveyed from the seller (vendor) to the buyer (purchaser). We will prepare the forms and perform the actions necessary to facilitate this process. Here’s a link to an article where I explain the Conveyancing Process in British Columbia. The process followed when buying a property is called a conveyance. What happens is the ownership of title to the property is conveyed from the seller (vendor) to the buyer (purchaser). We will prepare the forms and perform the actions necessary to facilitate this process. Here’s a link to an article where I explain the Conveyancing Process in British Columbia.
      </p>
      <p>
        When a person buys a property, what they are acquiring is the fee simple title to the property. “Fee Simple” comes from the roots meaning that anyone can own the property and it can be inherited by anyone. This fee simple ownership means that you acquire the greatest bundle of rights that one can acquire related to a specific piece of property. The process followed when buying a property is called a conveyance. What happens is the ownership of title to the property is conveyed from the seller (vendor) to the buyer (purchaser). We will prepare the forms and perform the actions necessary to facilitate this process. Here’s a link to an article where I explain the Conveyancing Process in British Columbia.
      </p>

    </div>

  </div>

</section>






{{ partial "partial/cta" . }}
{{ partial "partial/footer" . }}
{{ partial "foot" . }}
