{{ partial "head" . }}
{{ partial "partial/menus/menu-slide" . }}
{{ partial "partial/header" . }}

<section>
  <div id="js-map" class="column:12 padding-y:10vh min-height:60">

  </div>
</section>


<section class="row fill:white">
  <div class="column:12 column-sm:6 padding:4 padding-sm:10 padding-y-sm:10vh">
    <h2 class="font font-weight:light font-leading:1 font-size:h3 font-size-sm:h2 margin-bottom:5 max-width:70 margin:auto">
      {{ .Params.headline }}

      <span class="line line:short margin-top:10"></span>
    </h2>


  </div>
  <div class="column:12 column-sm:6 padding:4 padding-sm:10 padding-y-sm:10vh font-size:h6">
    <div class="row margin-bottom:10">
      <div class="column">
        <h6 class="font font-weight:regular">
          {{ .Site.Data.meta.address_1 }}<br>
          {{ .Site.Data.meta.address_2 }}
        </h6>
      </div>
      <div class="column">
        <h6 class="font font-weight:regular">
          <a href="mailto:{{ .Site.Data.meta.email }}" class="color:primary">{{ .Site.Data.meta.email }}</a><br>T {{ .Site.Data.meta.phone }}, F {{ .Site.Data.meta.fax }}
        </h6>
      </div>
    </div>
    <p class="font-size:tiny max-width:40">
      {{ .Site.Data.meta.cta_text }}
    </p>
  </div>
</section>

<section class="row fill:background">
  <div class="column:12 column-md:3 padding:2 padding-md:7 padding-y:5vh">
    <h4 class="font font-weight:regular font-leading:1 margin-bottom:3">
      Our Services
    </h4>
    <p class="font-size:tiny">
      {{ .Params.service_text }}
    </p>
    <a href="/services" class="font-size:tiny color:black font-weight:bold">Learn more</a>
  </div>
  <div class="column:12 column-md:3 padding-y:10vh fill-size:cover fill-position:center-center" style="background-image:url('https://placeimg.com/800/500/tech');">

  </div>
  <div class="column:12 column-md:3 padding:2 padding-md:7 padding-y:5vh">
    <h4 class="font font-weight:regular font-leading:1 margin-bottom:3">
      About us
    </h4>
    <p class="font-size:tiny">
      {{ .Params.about_text }}
    </p>
    <a href="/about" class="font-size:tiny color:black font-weight:bold">Learn more</a>
  </div>
  <div class="column:12 column-md:3 padding-y:10vh fill-size:cover fill-position:center-center" style="background-image:url('https://placeimg.com/800/500/tech');">

  </div>
</section>

{{.Content}}




{{ partial "partial/footer" . }}
{{ partial "foot" . }}
