{{ partial "head" . }}
{{ partial "partial/menus/menu-slide" . }}

{{.Content}}

{{ partial "partial/header" . }}

<section class="row fill:white">
  <div class="column:12 padding-y:6vh fill:primary">
    <div class="margin:auto max-width:100 align:center padding-y:5vh">
      <p class="color:white margin-bottom:3">
        Our Service
      </p>

      <h2 class="font font-weight:light font-leading:1 color:white margin-bottom:5">
        Marine Landing Notary Public, provides Notary Public Services emphasizing excellent customer services, as efficiently as possible.
      </h2>
      <span class="line line:short fill:white margin:auto"></span>

    </div>
  </div>
</section>

<section>
  <div class="wrap wrap:fluid overflow:hidden">

    <div class="tab tab-direction:left tab:reset tab:services row">

      <div class="tab/header column:12 column-sm:4 fill:white padding:4 padding-sm:10">
        <a href="#about-values-1" class="tab/header-item font-size:h4 is-active">
          Wills and Estates
        </a>
        <a href="#about-values-2" class="tab/header-item font-size:h4">
          Real Estate Purchase and Sale
        </a>
        <a href="#about-values-3" class="tab/header-item font-size:h4">
          Powers of Attorney
        </a>
        <a href="#about-values-4" class="tab/header-item font-size:h4">
          Personal Planning Documents
        </a>
        <a href="#about-values-5" class="tab/header-item font-size:h4">
          Mortgage Refinancing
        </a>
        <a href="#about-values-6" class="tab/header-item font-size:h4">
          Notarizations
        </a>
      </div>

      <div class="tab/content column:12 column-sm:8 fill:background padding:4 padding-sm:10">
        <div id="about-values-1" class="tab/content-item is-active font-size:h5">
          <article class="max-width:100">
            <p>
              The process followed when buying a property is called a conveyance. What happens is the ownership of title to the property is conveyed from the seller (vendor) to the buyer (purchaser). We will prepare the forms and perform the actions necessary to facilitate this process. Here’s a link to an article where I explain the Conveyancing Process in British Columbia.
            </p>
            <p>
              When a person buys a property, what they are acquiring is the fee simple title to the property. “Fee Simple” comes from the roots meaning that anyone can own the property and it can be inherited by anyone. This fee simple ownership means that you acquire the greatest bundle of rights that one can acquire related to a specific piece of property.
            </p>
            <ul>
              <li>Own property, including real estate, vehicles, or other assets</li>
              <li>Have a dependent spouse or children; and</li>
              <li>Wish to have someone they know and trust take care of</li>
            </ul>
          </article>
        </div>
        <div id="about-values-2" class="tab/content-item">
          <article class="max-width:100">
            <p>
              The process followed when buying a property is called a conveyance. What happens is the ownership of title to the property is conveyed from the seller (vendor) to the buyer (purchaser). We will prepare the forms and perform the actions necessary to facilitate this process. Here’s a link to an article where I explain the Conveyancing Process in British Columbia.
            </p>
            <p>
              When a person buys a property, what they are acquiring is the fee simple title to the property. “Fee Simple” comes from the roots meaning that anyone can own the property and it can be inherited by anyone. This fee simple ownership means that you acquire the greatest bundle of rights that one can acquire related to a specific piece of property.
            </p>
          </article>
        </div>
        <div id="about-values-3" class="tab/content-item">
          <article class="max-width:100">
            <p>
              The process followed when buying a property is called a conveyance. What happens is the ownership of title to the property is conveyed from the seller (vendor) to the buyer (purchaser). We will prepare the forms and perform the actions necessary to facilitate this process. Here’s a link to an article where I explain the Conveyancing Process in British Columbia.
            </p>
            <p>
              When a person buys a property, what they are acquiring is the fee simple title to the property. “Fee Simple” comes from the roots meaning that anyone can own the property and it can be inherited by anyone. This fee simple ownership means that you acquire the greatest bundle of rights that one can acquire related to a specific piece of property.
            </p>
          </article>
        </div>
        <div id="about-values-4" class="tab/content-item">
          <article class="max-width:100">
            <p>
              The process followed when buying a property is called a conveyance. What happens is the ownership of title to the property is conveyed from the seller (vendor) to the buyer (purchaser). We will prepare the forms and perform the actions necessary to facilitate this process. Here’s a link to an article where I explain the Conveyancing Process in British Columbia.
            </p>
            <p>
              When a person buys a property, what they are acquiring is the fee simple title to the property. “Fee Simple” comes from the roots meaning that anyone can own the property and it can be inherited by anyone. This fee simple ownership means that you acquire the greatest bundle of rights that one can acquire related to a specific piece of property.
            </p>
          </article>
        </div>
        <div id="about-values-5" class="tab/content-item">
          <article class="max-width:100">
            <p>
              The process followed when buying a property is called a conveyance. What happens is the ownership of title to the property is conveyed from the seller (vendor) to the buyer (purchaser). We will prepare the forms and perform the actions necessary to facilitate this process. Here’s a link to an article where I explain the Conveyancing Process in British Columbia.
            </p>
            <p>
              When a person buys a property, what they are acquiring is the fee simple title to the property. “Fee Simple” comes from the roots meaning that anyone can own the property and it can be inherited by anyone. This fee simple ownership means that you acquire the greatest bundle of rights that one can acquire related to a specific piece of property.
            </p>
          </article>
        </div>
        <div id="about-values-6" class="tab/content-item">
          <article class="max-width:100">
            <p>
              The process followed when buying a property is called a conveyance. What happens is the ownership of title to the property is conveyed from the seller (vendor) to the buyer (purchaser). We will prepare the forms and perform the actions necessary to facilitate this process. Here’s a link to an article where I explain the Conveyancing Process in British Columbia.
            </p>
            <p>
              When a person buys a property, what they are acquiring is the fee simple title to the property. “Fee Simple” comes from the roots meaning that anyone can own the property and it can be inherited by anyone. This fee simple ownership means that you acquire the greatest bundle of rights that one can acquire related to a specific piece of property.
            </p>
          </article>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="row">
  <div id="js-map" class="column:12 column-md:6 padding-y:10vh" style="min-height:60vh;">

  </div>
  <div class="column:12 column-md:6 padding:2 padding:4 padding-sm:10 fill:white">
    <h3 class="font font-weight:regular font-leading:1 margin-bottom:10vh">
      Get in Touch
    </h3>

    <span class="line line:short margin-bottom:5vh"></span>

    <h5 class="font font-leading:2 font-weight:regular  margin-bottom:3">
      4423 Boundary Road<br>
      Vancouver, BC  V5R 2N3
    </h5>

    <h5 class="font font-leading:2 font-weight:regular margin-bottom:5vh">
      <a href="#" class="color:primary">jonathan@mlnotary.com</a><br>
 +61 029 0503
</h5>

    <p>
      We prepare the documents that are necessary to transfer the property <br>and register the mortgage that secures your loan.
    </p>
  </div>

</section>




{{ partial "partial/footer" . }}
{{ partial "foot" . }}
