<!-- <section class="row">
  <div class="column:12 column@md:6 position:relative" style="height:500px; min-height: 300px;">
    <img src="/assets/images/map.png" class="width:100% height:100%" style="object-fit: cover;" />
  </div>
  <div
    class="column:12 column@md:6 fill:primary-l5 align:center position:relative"
  >
    <div class="padding-y:10vh">
      <div class="slider">
        <div>
          <div class="width:100% max-width:600px margin:auto font-size:h5 padding-x:md">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elementum est eget nunc faucibus, ut facilisis mi rutrum. Sed a elit in libero suscipit iaculis. Sed vel ipsum rhoncus, ultrices erat non, fermentum dolor."
          </div>
          <div class="font-size:tiny margin-top:u8">
            <b>Jonathan Wong</b><br>
            Marine Landing Notary
          </div>
        </div>
        <div>
          <div class="width:100% max-width:600px margin:auto font-size:h5 padding-x:md">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elementum est eget nunc faucibus, ut facilisis mi rutrum. Sed a elit in libero suscipit iaculis. Sed vel ipsum rhoncus, ultrices erat non, fermentum dolor."
          </div>
          <div class="font-size:tiny margin-top:u8">
            <b>Jonathan Wong</b><br>
            Marine Landing Notary 2
          </div>
        </div>
        <div>
          <div class="width:100% max-width:600px margin:auto font-size:h5 padding-x:md">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elementum est eget nunc faucibus, ut facilisis mi rutrum. Sed a elit in libero suscipit iaculis. Sed vel ipsum rhoncus, ultrices erat non, fermentum dolor."
          </div>
          <div class="font-size:tiny margin-top:u8">
            <b>Jonathan Wong</b><br>
            Marine Landing Notary 3
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->


<section class="row">
  <div class="column:12 position:relative" style="height:500px; min-height: 300px;">
    <img src="/assets/images/map-long.png" class="width:100% height:100%" style="object-fit: cover;" />
  </div>
</section>