<section class="row">
  <div class="column:12 position:relative" style="height:500px; min-height: 300px;">
    <a href="https://www.google.com/maps/dir/?api=1&amp;destination=Marine%20Landing%20Notary%20Public%2C%20509%20SW%20Marine%20Drive%2C%20Vancouver%2C%20BC%20V6P%200G8&amp;destination_place_id=ChIJsQix7el2hlQRT_e6qJ1x46I" aria-label="Get directionsto Marine Landing Notary Public" target="_blank" rel="noreferrer noopener">
      <img src="/assets/images/map-long.png" class="width:100% height:100%" style="object-fit: cover;" alt="Map of South Vancouver, showing a pin with the Marine Landing Notary Public logo at the northwest corner of the intersection of SW Marine Drive and Cambie Street." />
    </a>
  </div>
</section>
