<section class="padding-y:5vh padding-y@sm:5vh fill:footer">
  <div class="wrap align:center">
    <div class="font-size:h6 color:white margin-bottom:u8">
      509 SW Marine Drive, Vancouver, BC V6P 0G8<br /><a href="mailto:jwong@mlnotary.com" class="color:white"
        >jwong@mlnotary.com</a
      >
      <div class="margin-top:u6">T 604.687.6166<br />F 604.687.8002</div>
    </div>

    <a href="/" class="display media media-size:md margin:auto margin-bottom:u6">
      <img src="/assets/images/logo-od.svg" />
    </a>

    <div class="color:white font-size:tiny opacity:5">© Marine Landing Notary Public</div>
  </div>
</section>
