<section class="padding-y:5vh padding-y@sm:5vh fill:footer">
  <div class="wrap max-width:100% padding-x:u6 padding-x@sm:u10">
    <div class="row">
      <div class="column:12 column@sm:4 flex align-items:center justify-content:center justify-content@sm:start">
        <ul class="list list:inline distribute-x:u4">
          <li class="list/item margin-right:u8">
            <a href="/" class="display media media-size:lg">
              <img src="/assets/images/logo-od.svg" />
            </a>
          </li>
          <li class="list/item">
            <a href="{{ .Site.Data.meta.facebook }}" class="color:white font-size:tiny">Facebook</a>
          </li>
          <li class="list/item">
            <a href="{{ .Site.Data.meta.twitter }}" class="color:white font-size:tiny">Twitter</a>
          </li>
          <li class="list/item">
            <a href="{{ .Site.Data.meta.linkedin }}" class="color:white font-size:tiny">Linkedin</a>
          </li>
        </ul>
      </div>

      <div class="column:12 column@sm:8 flex align-items:center justify-content:center justify-content@sm:end margin-top:5vh margin-top@sm:u0 color:white font-size:tiny opacity:5">
        © Marine Landing Notary Public
      </div>
    </div>
  </div>
</section>
