<section class="padding-y:5vh fill:footer">
  <div class="wrap align:center">
    <address class="font-size:h6 color:white margin-bottom:u6">
      {{ .Site.Data.meta.address_1 }}<br />
      {{ .Site.Data.meta.address_2 }}
      <div class="margin-top:u6">
        Email: <a href="mailto:jwong@mlnotary.com" class="color:white">jwong@mlnotary.com</a><br />
        Phone: <a href="tel:{{ .Site.Data.meta.phone_intl }}" class="color:white">{{ .Site.Data.meta.phone }}</a><br />
        Fax: <a href="fax:{{ .Site.Data.meta.fax_intl }}" class="color:white">{{ .Site.Data.meta.fax }}</a>
      </div>
    </address>

    <p class="color:white margin-bottom:u6 margin-top:u6">
      Marine Landing Notary Public is operated by Jonathan Wong Notary Corporation.
    </p>

    <a href="/" class="display media media-size:md margin:auto margin-top:u8 margin-bottom:u6">
      <img src="/assets/images/logo-od.svg" />
    </a>

    <div class="color:white font-size:tiny opacity:5">© Marine Landing Notary Public</div>
  </div>
</section>
