<header class="header fill:white">
  <div class="header/content header/content:left">
    <div class="header/item">
      <a href="/" class="header/logo">
        <img src="/assets/images/logo-ol.svg" />
      </a>
    </div>
    <div class="header/item display:flex display@sm:none">
      <button type="button" class="header/hamburger js-hamburger" aria-label="Toggle navigation" aria-expanded="false" aria-controls="hamburger-menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>

  <nav class="header/content header/content:right" aria-label="Main navigation">
    <div class="header/item">
      <a href="/services/" class="font font-weight:regular font-size:tiny font-size@sm:h5 text-decoration:none">
        Our Services
      </a>
    </div>
    <div class="header/item">
      <a href="/about/" class="font font-weight:regular font-size:tiny font-size@sm:h5 text-decoration:none">
        About Us
      </a>
    </div>
    <div class="header/item">
      <a href="/location/" class="font font-weight:regular font-size:tiny font-size@sm:h5 text-decoration:none">
        Our Location
      </a>
    </div>
  </nav>
</header>
