<aside class="slidemenu slidemenu-direction:right">
  <div class="slidemenu/overlay"></div>
  <div class="slidemenu/content">
    <div class="slidemenu/header">
      <div class="slidemenu/close"></div>
    </div>

    <div class="padding-top:3">
      <ul class="list list-gutter:2 margin-bottom:10vh">
        <li class="list/item justify-content:center align:center padding-x:u4 margin-top:u4 margin-bottom:u4">
          <a href="/services/" class="font font-size:h4 color:black text-decoration:none" title="Our Services">
            Our Services
          </a>
        </li>
        <li class="list/item justify-content:center align-content padding-x:u4 padding-x@lg:4 margin-top:u4 margin-bottom:u4">
          <a href="/about/" class="font font-size:h4 color:black text-decoration:none" title="About Us">
            About Us
          </a>
        </li>
        <li class="list/item justify-content:center align-content padding-x:u4 padding-x@lg:4 margin-top:u4 margin-bottom:u4">
          <a href="/location/" class="font font-size:h4 color:black text-decoration:none" title="Our Location">
            Our Location
          </a>
        </li>
      </ul>

      <div class="padding:u4">
        <span class="line line:short margin-bottom:5vh margin:auto margin-bottom:10vh"></span>
        <address class="font font-size:tiny font-leading:2 font-weight:regular align:center margin-bottom:10vh">
          {{ .Site.Data.meta.address_1 }}<br />
          {{ .Site.Data.meta.address_2 }}
          <div class="margin-top:u6">
            Email: <a href="mailto:{{ .Site.Data.meta.email }}">{{ .Site.Data.meta.email }}</a><br />
            Phone: <a href="tel:{{ .Site.Data.meta.phone_intl }}">{{ .Site.Data.meta.phone }}</a><br />
            Fax: <a href="fax:{{ .Site.Data.meta.fax_intl }}">{{ .Site.Data.meta.fax }}</a>
          </div>
        </address>
        <div class="flex justify-content:center">
          <a href="/">
            <img src="/assets/images/logo-ol.svg" style="width:70px" />
          </a>
        </div>
      </div>
    </div>
  </div>
</aside>
