<aside class="slidemenu slidemenu-direction:right" id="hamburger-menu">
  <div class="slidemenu/overlay"></div>
  <nav class="slidemenu/content padding-x:u6 padding-y:u6" aria-label="Main navigation">
    <div class="slidemenu/header">
      <button type="button" class="slidemenu/close js-hamburger" aria-label="Toggle navigation" aria-expanded="false" aria-controls="hamburger-menu"></button>
    </div>

    <div class="padding-top:3">
      <ul class="flex flex-direction:column align-items:center gap:u4">
        {{ $page := .Page }}
        {{ range site.Menus.main }}
          <li>
            <a
              href="{{ .URL }}"
              class="
                main-menu-item
                font-size:h4 text-decoration:none
                {{ if $page.HasMenuCurrent .Menu . }}has-active{{ end }}
                {{ if $page.IsMenuCurrent .Menu . }}is-active{{ end }}
              "
              {{ if $page.HasMenuCurrent .Menu . }}
                aria-current="true"
              {{ else if $page.IsMenuCurrent .Menu . }}
                aria-current="page"
              {{ end }}
            >
              {{ .Pre }}
              {{ safeHTML (replaceRE `\bPTT\b` "<abbr title=\"Property transfer tax\" style=\"text-decoration: none\">PTT</abbr>" (htmlEscape .Name)) }}
              {{ .Post }}
            </a>
          </li>
        {{ end }}
      </ul>

      <div class="padding-x:u4">
        <span class="line line:short margin:auto margin-top:u8 margin-bottom:u8"></span>
        <address class="font-size:tiny font-leading:2 font-weight:regular align:center">
          {{ .Site.Data.meta.address_1 }}<br />
          {{ .Site.Data.meta.address_2 }}
          <div class="margin-top:u6">
            Email: <a href="mailto:{{ .Site.Data.meta.email }}">{{ .Site.Data.meta.email }}</a><br />
            Phone: <a href="tel:{{ .Site.Data.meta.phone_intl }}">{{ .Site.Data.meta.phone }}</a><br />
            Fax: <a href="fax:{{ .Site.Data.meta.fax_intl }}">{{ .Site.Data.meta.fax }}</a>
          </div>
        </address>
        <div class="flex justify-content:center margin-top:u8">
          <a href="/" aria-label="Go to home page">
            {{- with resources.Get "images/logomark-brand.svg" -}}
              <img src="{{ .RelPermalink }}" width="64" height="64" style="width:70px; height:auto" alt="Marine Landing Notary Public logo" />
            {{- end -}}
          </a>
        </div>
      </div>
    </div>
  </nav>
</aside>
