<aside class="slidemenu slidemenu-direction:right">
  <div class="slidemenu/overlay"></div>
  <div class="slidemenu/content">
    <div class="slidemenu/header">
      <div class="slidemenu/close"></div>
    </div>

    <div class="slidemen/body padding-top:3">
      <ul class="list list-gutter:2 margin-bottom:10vh">
        <li class="list/item justify-content:center align:center padding-x:u4">
          <a href="/services" class="font font-size:h4 color:black" title="Our Services"> Our Services </a>
        </li>
        <li class="list/item justify-content:center align-content padding-x:u4 padding-x@lg:4">
          <a href="/about" class="font font-size:h4 color:black" title="About Us"> About Us </a>
        </li>
        <li class="list/item justify-content:center align-content padding-x:u4 padding-x@lg:4">
          <a href="/location" class="font font-size:h4 color:black" title="Our Location"> Our Location </a>
        </li>
      </ul>

      <div class="padding:u4">
        <span class="line line:short margin-bottom:5vh margin:auto margin-bottom:10vh"></span>
        <h6 class="font font-size:tiny font-leading:2 font-weight:regular align:center margin-bottom:10vh">
          {{ .Site.Data.meta.address_1 }},
          {{ .Site.Data.meta.address_2 }}
          <a href="mailto:{{ .Site.Data.meta.email }}" class="color:primary">{{ .Site.Data.meta.email }}</a> T
          {{ .Site.Data.meta.phone }}<br />F
          {{ .Site.Data.meta.fax }}
        </h6>
        <img src="/assets/images/logo-ol.svg" class="image margin:auto" style="width:70px" />
      </div>
    </div>
  </div>
</aside>
