// Regular
@font-face {
  font-family: 'Theinhardt Web';
  src: url('../fonts/theinhardt/webfonts/Theinhardt-Regular.woff') format('woff');
  font-weight: 400;
}

// Medium
@font-face {
  font-family: 'Theinhardt Web';
  src: url('../fonts/theinhardt/webfonts/Theinhardt-Medium.woff');
  font-weight: 500;
}

// Bold
@font-face {
  font-family: 'Theinhardt Web';
  src: url('../fonts/theinhardt/webfonts/Theinhardt-Bold.woff');
  font-weight: 600;
}

// Heavy
// @font-face {
//   font-family: 'Theinhardt Web';
//   src: url('../fonts/theinhardt/webfonts/Theinhardt-Heavy.woff2') format('woff2'),
//        url('../fonts/theinhardt/webfonts/Theinhardt-Heavy.woff');
//   font-weight: 700;
// }

// Light
@font-face {
  font-family: 'Theinhardt Web';
  src: url('../fonts/theinhardt/webfonts/Theinhardt-Light.woff');
  font-weight: 300;
}
