{{ define "main" }}
  {{ if not (len (findRE `<h1.*?>` .Content 1)) }}
    <h1 class="visually-hidden">{{ .Site.Data.meta.title }}</h1>
  {{ end }}

  <section class="hero">
    <div class="hero/content padding-top:u10 padding-bottom:u12 padding-top@md:u12 padding-bottom@md:u13 align:left align:center">
      <div class="wrap">
        <p class="font-weight:regular font-weight@sm:light font-size:h4 font-size@sm:h2 font-height:1.1 margin:auto max-width:prose text-wrap:balance">
          {{ .Params.hero_title }}
        </p>
      </div>
    </div>
  </section>

  <section>
    <div class="row fill:white">
      <div
        class="display:none display@md:block column:12 column@md:3 padding-y:u10 fill-size:cover fill-position:center-center"
        style="
          background-image: url('https://images.unsplash.com/photo-1504355080015-bba52674577b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=090323df2e679b3b5df56edc7f2629cb&auto=format&fit=crop&w=800&q=60');
        "
      ></div>
      <div class="column:12 column@md:6 padding-y:u8 padding-y@sm:u12 padding-x:u8 fill:primary">
        <div class="align:center padding-y:u6">
          <span class="line line:short margin-bottom:u6 fill:white margin:auto"></span>
          <blockquote class="margin:auto max-width:prose text-wrap:balance font-size:h5 font-size@sm:h3 font-weight:regular font-leading:2 color:white margin-bottom:u8">
            {{ .Params.quote }}
          </blockquote>

          <p class="color:white">
            Jonathan Wong<br />
            <span class="opacity:6">Marine Landing Notary Public</span>
          </p>
        </div>
      </div>
      <div
        class="display:none display@md:block column:12 column@md:3 padding-y:u12 fill-size:cover fill-position:center-center"
        style="background-image:url('{{ with resources.Get "images/office-01.jpg" }}{{ .RelPermalink }}{{ end }}')"
      ></div>
    </div>
  </section>

  <nav class="two-links fill:white" aria-label="Other pages">
    <article class="two-links__text two-links__1 padding:u8 padding@md:u10">
      <div>
        <h2 class="font-size:h4 font-weight:regular font-leading:1 margin-bottom:u4">Our services</h2>
        <p class="font-size:body max-width:prose margin-bottom:u8">
          {{ .Params.service_text }}
        </p>
        <a
          href="/services/"
          class="font-size:body color:black font-weight:bold"
          aria-label="Learn more about our services"
        >
          Learn more
        </a>
      </div>
    </article>
    <div
      class="two-links__image two-links__1 padding-y:u12 fill-size:cover fill-position:center-center"
      style="
        background-image: url('{{ with resources.Get "images/office-02.jpg" }}{{ .RelPermalink }}{{ end }}');
        background-position: bottom center !important;
      "
    ></div>
    <article class="two-links__text two-links__2 padding:u8 padding@md:u10">
      <div>
        <h2 class="font-size:h4 font-weight:regular font-leading:1 margin-bottom:u4">
          Our location
        </h2>
        <p class="font-size:body max-width:prose margin-bottom:u8">
          {{ .Params.location_text }}
        </p>
        <a
          href="/location/"
          class="font-size:body color:black font-weight:bold"
          aria-label="Learn more about our location"
        >
          Learn more
        </a>
      </div>
    </article>
    <div
      class="two-links__image two-links__2 padding-y:u12 fill-size:cover fill-position:center-center"
      style="
        background-image: url('{{ with resources.Get "images/office-03.jpg" }}{{ .RelPermalink }}{{ end }}');
      "
    ></div>
  </nav>

  {{ partial "map" . }}
{{ end }}
