<!doctype html>
<html>
<head>
  <link rel="canonical" href="{{ .Permalink }}">

  <title>Fergus | {{ .Page.Title }}</title>
  <!-- Page Meta -->
  <meta charset="utf-8" />
  <meta name="description" content="LOREMMETA">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

  <!-- Social Media Open Graph -->
  <meta property="og:title" content="LOREMMETA">
  <meta property="og:description" content="LOREMMETA">
  <meta property="og:image" content="LOREMMETA/thumbnail.jpg">
  <meta property="og:url" content="LOREMMETA/">
  <meta name="twitter:card" content="summary_large_image">

  <!-- Icons -->
  <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}/favicon-96x96.png" sizes="96x96">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}/iPhone-6-Plus.png">

  <!-- Styles -->
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/assets/styles/main.css">

  <!-- Google Fonts -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet"> -->

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-XXXXX-X', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body class="{{ .Page.Params.layout }}">
