<aside class="row/area -sidebar">
  {{ if eq .Params.family "Frontend Framework"}}
    <div class="u-border-bottom u-pad-3">
      <h6 class="font -gap-1 -medium -micro -upper -brand">General</h6>
      <ul class="m-list -sidebar">
        {{ $name := .Title }}
        {{ range .Site.Data.structure.docs.frontendFramework.general.child }}
        <li class="m-list__item {{ if eq .name $name }}is-active{{end}}">
          <a class="font -reset -hover {{ if eq .name $name }}-accent-alt{{end}}" href="{{ .url }}" title="{{ .name }}">
            {{ .name }}
          </a>
        </li>
        {{ end }}
      </nav>
    </div>

    <div class="u-border-bottom u-pad-3">
      <h6 class="font -gap-1 -medium -micro -upper -brand">Layout</h6>
      <ul class="m-list -sidebar">
        {{ $name := .Title }}
        {{ range .Site.Data.structure.docs.frontendFramework.layout.child }}
          <li class="m-list__item {{ if eq .name $name }}is-active{{end}}">
            <a class="font -reset -hover {{ if eq .name $name }}-accent-alt{{end}}" href="{{ .url }}" title="{{ .name }}">
              {{ .name }}
            </a>
          </li>
        {{ end }}
      </nav>
    </div>

    <div class="u-border-bottom u-pad-3">
      <h6 class="font -gap-1 -medium -micro -upper -brand">Module</h6>
      <ul class="m-list -sidebar">
        {{ $name := .Title }}
        {{ range .Site.Data.structure.docs.frontendFramework.module.child }}
          <li class="m-list__item {{ if eq .name $name }}is-active{{end}}">
            <a class="font -reset -hover {{ if eq .name $name }}-accent-alt{{end}}" href="{{ .url }}" title="{{ .name }}">
              {{ .name }}
            </a>
          </li>
        {{ end }}
      </nav>
    </div>

    <div class="u-border-bottom u-pad-3">
      <h6 class="font -gap-1 -medium -micro -upper -brand">Single</h6>
      <ul class="m-list -sidebar">
        {{ $name := .Title }}
        {{ range .Site.Data.structure.docs.frontendFramework.single.child }}
          <li class="m-list__item {{ if eq .name $name }}is-active{{end}}">
            <a class="font -reset -hover {{ if eq .name $name }}-accent-alt{{end}}" href="{{ .url }}" title="{{ .name }}">
              {{ .name }}
            </a>
          </li>
        {{ end }}
      </nav>
    </div>

    <div class="u-border-bottom u-pad-3">
      <h6 class="font -gap-1 -medium -micro -upper -brand">Utility</h6>
      <ul class="m-list -sidebar">
        {{ $name := .Title }}
        {{ range .Site.Data.structure.docs.frontendFramework.utility.child }}
          <li class="m-list__item {{ if eq .name $name }}is-active{{end}}">
            <a class="font -reset -hover {{ if eq .name $name }}-accent-alt{{end}}" href="{{ .url }}" title="{{ .name }}">
              {{ .name }}
            </a>
          </li>
        {{ end }}
      </nav>
    </div>
  {{end}}

  {{ if eq .Params.family "Brand Guideline"}}
    <div class="u-pad-3">
      <h6 class="font -gap-1 -medium -micro -upper -brand">Brand Guideline</h6>
      <ul class="m-list -sidebar">
        {{ $name := .Title }}
        {{ range .Site.Data.structure.docs.brandGuideline }}
          <li class="m-list__item {{ if eq .name $name }}is-active{{end}}">
            <a class="font -reset -hover {{ if eq .name $name }}-accent-alt{{end}}" href="{{ .url }}" title="{{ .name }}">
              {{ .name }}
            </a>
          </li>
        {{ end }}
      </nav>
    </div>
  {{end}}

  {{ if eq .Params.family "Resources"}}
    <div class="u-pad-3">
      <h6 class="font -gap-1 -medium -micro -upper -brand">Resources</h6>
      <ul class="m-list -sidebar">
        {{ $name := .Title }}
        {{ range .Site.Data.structure.docs.resources }}
          <li class="m-list__item {{ if eq .name $name }}is-active{{end}}">
            <a class="font -reset -hover {{ if eq .name $name }}-accent-alt{{end}}" href="{{ .url }}" title="{{ .name }}">
              {{ .name }}
            </a>
          </li>
        {{ end }}
      </nav>
    </div>
  {{end}}
</aside>
