/*
Title: ipfind
Version: 0.1.0
Updated: 2018-08-23
Author: Jin Su Park
Site: ipfind.com
*/

/************************************************************
1. FONTS & BUILD VARIABLES
************************************************************/

// include SCSS overrides before the build variables
@import "../fonts/theinhardt.scss";
@import "override.variables";
@import "build.variables";

/************************************************************
2. COMPONENTS
************************************************************/

// include custom components here
@import "components/import.components";

/************************************************************
3. ROOT VARIABLES
************************************************************/

// override component CSS variables here
:root {

}

/************************************************************
4. THIRD PARTY
************************************************************/

// include any other 3rd party css libraries here

/************************************************************
5. EXTENSIONS
************************************************************/

@import "extensions/header.extension";
// include any other 3rd party css libraries here

/************************************************************
6. CUSTOM CSS
************************************************************/

// this is where you can write your own CSS

:root {
  --button-font-size: 16px;
}

.hero {
  position: relative;
  height: auto;
  &\/content {
    position: relative;
    padding: var(--u8);
    padding-top: 24vh;
    padding-bottom: var(--u10);
    @media (min-width: $sm) {
      padding: var(--u10);
      padding-top: 9vh;
      padding-bottom: 18vh;
    }
  }
  &\:services {
    position: relative;
    background-color: var(--primary);
    background-image: url('/assets/images/office-04.jpg');
    background-size: cover;
    background-position: center center;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #453a60c2;
    }
  }
}

.line {
  &\:short {
    width: 60px;
    height: 2px;
    background: var(--black);
    @media (min-width: $sm) {
      width: 80px;
    }
  }
}


.fill {
  &\:footer {
    background: #231E28;
  }
}

.tab{
  &\:services {
    .tab\/header .tab\/item {
      opacity: .3;
      &.is-active {
        opacity: 1;
        background: transparent;
      }
    }
  }
}

.media {
  &\:logo {
    display: block;
    width: 60px;
    height: 60px;
    img {
      display: block;
      width: 100%;
    }
  }
}

/************************************************************
MARKUP
************************************************************/

.markup {
  p {
    font-size: var(--h6);
  }
  ul {
    font-size: var(--h6);
  }
  h1,h2,h3,h4,h5,h6 {
  	&:first-child {
  		margin-top: 0;
  	}
  	&:last-child {
  		margin-bottom: 0;
  	}
  }
  h1 {
  	margin-top: var(--u12);
  	margin-bottom: var(--u6);
  }
  h2 {
  	margin-top: var(--u12);
  	margin-bottom: var(--u6);
  }
  h3 {
  	margin-top: var(--u11);
  	margin-bottom: var(--u6);
  }
  h4 {
  	margin-top: var(--u10);
  	margin-bottom: var(--u6);
  }
  h5 {
  	margin-top: var(--u8);
  	margin-bottom: var(--u6);
  }
  h6 {
  	margin-top: var(--u8);
  	margin-bottom: var(--u6);
  }
  ol, ul {
  	margin: 0;
  	margin-left: var(--u5);
  	margin-bottom: var(--u6);
  }
  li {
  	padding-left: var(--u0);
  }
  ol {
  	list-style-type: decimal;
  }
  ul {
  	list-style-type: disc;
  }
}
