/*
Title: ipfind
Version: 0.1.0
Updated: 2018-08-23
Author: Jin Su Park
Site: ipfind.com
*/

/************************************************************
1. FONTS & BUILD VARIABLES
************************************************************/

// include SCSS overrides before the build variables
@import "../fonts/theinhardt.scss";
@import "override.variables";
@import "build.variables";

/************************************************************
2. COMPONENTS
************************************************************/

// include custom components here
@import "components/import.components";

/************************************************************
3. ROOT VARIABLES
************************************************************/

// override component CSS variables here
:root {

}

/************************************************************
4. THIRD PARTY
************************************************************/

// include any other 3rd party css libraries here

/************************************************************
5. EXTENSIONS
************************************************************/

@import "extensions/header.extension";
// include any other 3rd party css libraries here

/************************************************************
6. CUSTOM CSS
************************************************************/

// this is where you can write your own CSS

:root {
  --button-font-size: 16px;
}

.header {
  display: flex;
  align-items: center;
  height: 50px;
  @media (min-width: $sm) {
    height: 90px;
  }
  @media (min-width: $md) {
    height: 120px;
  }
  @media (min-width: $lg) {
    height: 120px;
  }
  a {
    color: var(--black);
  }
}

.hero {
  position: relative;
  height: auto;
  &\/content {
    position: relative;
    padding: var(--u6);
    padding-top: 20vh;
    padding-bottom: 20vh;
    @media (min-width: $lg) {

    }
  }
}

.line {
  &\:short {
    width: 60px;
    height: 2px;
    background: var(--black);
    @media (min-width: $sm) {
      width: 80px;
    }
  }
}


.fill {
  &\:footer {
    background: #231E28;
  }
}

.tab{
  &\:services {
    .tab\/header-item {
      opacity: .3;
      &.is-active {
        opacity: 1;
      }
    }
  }
}

.media {
  &\:logo {
    display: block;
    width: 60px;
    height: 60px;
    img {
      display: block;
      width: 100%;
    }
  }
}
