{{ partial "head" . }}
{{ partial "partial/menus/menu-slide" . }}

{{.Content}}

{{ partial "partial/header" . }}

<section class="row fill:white padding-y:10vh padding-y@sm:none">
  <div class="column:12 column@sm:6 padding:3 padding@sm:10 padding-y@sm:10vh">
    <h2 class="font font-weight:light font-leading:1 font-size:h3 font-size@sm:h2 margin-bottom:5 max-width:70 margin:auto">
      {{ .Params.headline }}
    </h2>
  </div>
  <div class="column:12 column@sm:6 padding:3 padding@sm:10 padding-y@sm:10vh font-size:h6">
    <div class="max-width:90">
      {{ .Params.about | markdownify }}

    </div>

  </div>

</section>






{{ partial "partial/cta" . }}
{{ partial "partial/footer" . }}
{{ partial "foot" . }}
