/************************************************************
START
************************************************************/

.start {
  padding-top: 10vh;
  padding-bottom: 10vh;
  background: var(--primary);
  &\/logo {
    width: 180px;
    margin: auto;
  }
}
