{{ partial "head" . }}
{{ partial "partial/menus/menu-slide" . }}

<div class="background:white js-header">
  {{ partial "partial/header" . }}
</div>


<section class="background:primary-shade">
  <div class="wrap wrap:padding-x padding-y:10vh">
    <h1 class="font font-size:h3 font-size@md:h2 font-size@lg:h1 margin-bottom:3 font-leading:0 align:center color:white">
      Flexible pricing <br />Pay <span class="font color:yellow font:underline">month-to-month</span>
    </h1>
    <h2 class="font font-weight:regular font-size:h6 font-size@sm:h5 font-leading:2 align:center color:white">
      Hit the ground running with a free 30-day trial of our full featured plan, no credit card required. <br />When your trial ends, just choose the plan that best suits your business.

    </h2>
  </div>
</section>

<section class="padding-y:5vh">
  <div class="wrap wrap:padding-x">
    <div class="row align-content:center">
      <div class="column@md:12 column@lg:11 form">

        <div class="row row-gutter:2">
          <div class="column:12 column@md:4">
            {{ partial "partial/pricing-card-basic" . }}
          </div>
          <div class="column:12 column@md:4">
            {{ partial "partial/pricing-card-essential" . }}
          </div>
          <div class="column:12 column@md:4">
            {{ partial "partial/pricing-card-professional" . }}
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="background:white padding-y:10vh">
  <div class="wrap wrap:padding-x">
    <h3 class="font font-size:h3 font-size@sm:h1 margin-bottom:2 font-leading:0 align:center">
      Frequently asked <span class="font color:primary font:underline">Questions</span>
    </h3>

    <h4 class="font font-weight:regular font-size:h6 font-size@sm:h5 font-leading:2 align:center margin-bottom:5vh">
      Find answers to commonly asked questions here.
    </h4>

    <div class="row align-content:center">
      <div class="column@md:11 column@lg:6 column-xl:6 spread-y:5">

        <article>
          <h4 class="font font-weight:medium font-size:h6 font-size@sm:h5 font-leading:2 margin-bottom:2">
            How do I figure out what plan I should be on?
          </h4>
          <p>
            We suggest you have a chat with one of our account managers to get you started. Most Fergus customers are on the Professional Plan, as it's our most powerful business tool.
          </p>
        </article>

        <article>
          <h4 class="font font-weight:medium font-size:h6 font-size@sm:h5 font-leading:2 margin-bottom:2">
            What’s the difference between Time Sheet Only, a Tradesperson and a Full User?
          </h4>
          <p>
            Each user type will have different abilities depending on your plan. In essence:
          </p>

          <div class="card display:inline-block border:radius">
            <div class="card/content border:bottom">
              <h6 class="font font-size:body font-size@sm:body margin-bottom:1 font-leading:0">
                Timesheet Only
              </h6>
              <p class="font font-size:micro">
                A Timesheet Only user is for 1st year Apprentices. You need to track their time, and they need the ability to see job scope, and files and photos from the job site.
              </p>
            </div>
            <div class="card/content">
              <h6 class="font font-size:body font-size@sm:body margin-bottom:1 font-leading:0">
                Tradesperson
              </h6>
              <p class="font font-size:micro">
                A Tradesperson user is for 2nd and 3rd year Apprentices and qualified Tradesperson. They need to edit job details, add photos of work completed, pick up materials, and enter invoices from suppliers.
              </p>
            </div>
            <div class="card/content">
              <h6 class="font font-size:body font-size@sm:body margin-bottom:1 font-leading:0">
                Full User
              </h6>
              <p class="font font-size:micro">
                A Full User is for Business Owners, Operation Managers, Site Foremen, Office Managers, and Administrators. They need access to everything, and the ability to complete important tasks such as invoicing, business reporting and certification.
              </p>
            </div>
          </div>
        </article>

        <article>
          <h4 class="font font-weight:medium font-size:h6 font-size@sm:h5 font-leading:2 margin-bottom:2">
            Are there any set up fees?
          </h4>
          <p>
            No, simply sign up for a free 30 day trial to hit the ground running.
          </p>
        </article>

        <article>
          <h4 class="font font-weight:medium font-size:h6 font-size@sm:h5 font-leading:2 margin-bottom:2">
            How does the free trial work?
          </h4>
          <p>
            Simply sign up for a free trial on the Fergus website to receive full feature access for 30 days. This includes everything; unlimited users, quoting, invoicing and everything else Fergus has to offer.
          </p>
        </article>

        <article>
          <h4 class="font font-weight:medium font-size:h6 font-size@sm:h5 font-leading:2 margin-bottom:2">
            Do you offer yearly pricing plans?
          </h4>
          <p>
            No, at Fergus we like to keep things simple. Charging month-by-month allows us to offer you the flexibility to add and remove users, as and when it suits you.
          </p>
        </article>

        <article>
          <h4 class="font font-weight:medium font-size:h6 font-size@sm:h5 font-leading:2 margin-bottom:2">
            Are there any limits in upgrading/downgrading between plans?
          </h4>
          <p>
            No. You have complete control over when you upgrade or downgrade your plan and your monthly charge will reflect this in a pro rata amount.
          </p>
        </article>

        <article>
          <h4 class="font font-weight:medium font-size:h6 font-size@sm:h5 font-leading:2 margin-bottom:2">
            What happens if I need to change plans during my billing cycle?
          </h4>
          <p>
            You have complete control over when you upgrade or downgrade your plan and your monthly charge will reflect this in a pro rata amount.
          </p>
        </article>

        <article>
          <h4 class="font font-weight:medium font-size:h6 font-size@sm:h5 font-leading:2 margin-bottom:2">
            How do I cancel my Fergus account?
          </h4>
          <p>
            Easily. Simply remove all users from your account. All account history will be archived and you can still access your account for free (as a Sole Trader).
          </p>
        </article>

        <article>
          <h4 class="font font-weight:medium font-size:h6 font-size@sm:h5 font-leading:2 margin-bottom:2">
            Can I pick and choose what features I want?
          </h4>
          <p>
            No. We offer set feature tiers, with flexible user options, to make sure each person in your business can do what they need to.
          </p>
        </article>

        <article>
          <h4 class="font font-weight:medium font-size:h6 font-size@sm:h5 font-leading:2 margin-bottom:2">
            When will I be charged if I enter my credit card during the free trial?
          </h4>
          <p>
            At Fergus we charge you for what you’ve used, after you use it. We believe you should get the benefit of our job management software before you pay for it. This means you can enter your credit card details on the first day of your trial, but you won’t be charged until you’ve been using Fergus for 60 days.
          </p>
        </article>

      </div>
    </div>
  </div>
</section>


{{.Content}}
{{ partial "partial/modals/modal-register"}}
{{ partial "partial/modals/modal-feature-comparison"}}
{{ partial "partial/cta" . }}
{{ partial "partial/footer" . }}
{{ partial "foot" . }}
